.logo {
  padding: 30px;
  text-align: center;
}
.menu {
  position: relative;
  font-family: Andale Mono;
  font-size: medium;
  width: 90%;
  height: 5%;
  left: 5%;
  background-color: grey;
}
.categorie {
  float: left;
  padding: 10px;
}
.login {
  float: right;
  padding: 10px;
}
.cart {
  float: right;
  padding: 10px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
.market {
}
.product {
  position: relative;
  width: 90%;
  height: 100px;
  left: 5%;
  /*display: flex;*/
  padding: 10px;
}
.picture {
  float: left;
  max-width: 100px;
  max-height: 100px;
}
.name {
  position: relative;
  left: 5%;
  float: left;
}
.def {
  position: relative;
  left: 15%;
  float: left;
}
.price {
  position: relative;
  right: 7%;
  float: right;
}
.text {
  font-family: Andale Mono;
  font-size: medium;
}
.action {
  position: relative;
  font-family: Andale Mono;
  font-size: medium;
  width: 90%;
  height: 5%;
  left: 5%;
  padding: 10px;
}
.msg_delete {
  position: relative;
  left: 5%;
  padding: 10px;
}
.add_cart {
  position: relative;
  right: 3%;
  float: right;
}
