html, body {
	margin:0;
}

body {
	background-color:AntiqueWhite;
	font-family:monospace;
}

div {
	border:0;
	box-sizing: border-box;
}

img {
	max-width:18vw;
}

table, table tr, table td {
	padding:0;
	border:0;
	border-spacing:0;
}

#container {
	overflow:auto;
	height:100%;
	width:100%;
}

#portrait {
	float:left;
	max-height:100vh;
	width:20%;
}

#elements {
	float:right;
	width:80%;
	height:100%;
}

div .noelement {
	display:table-cell;
	padding:1px;
	min-width:3.7vw;
}

div .element {
	display:table-cell;
	border:1px solid black;
	width:3.70vw;
}
span.class:empty { 
	border: none;
}

div .tRow {
	display:table-row;
}


.weight {
	text-align:left;
	min-width:3.7vw;
	font-size:0.8vmin;
}

.symbol {
	font-size:2vmin;
	text-align:center;
}

.number {
	text-align:right;
	font-size:1vmin;
}

.actinide {
	background-color:green;
}

.alkalimetal {
	background-color:coral;
}

.alkalineearthmetal {
	background-color:greenyellow;
}

.halogen {
	background-color:mediumorchid;
}

.lanthanide {
	background-color:mediumaquamarine;
}

.metal {
	background-color:cyan;
}

.metalloid {
	background-color:peru;
}

.noblegas {
	background-color:rosybrown;
}

.nonmetal {
	background-color:skyeblue;
}

.transactinide {
	background-color:greviolet;
}

.transitionmetal {
	background-color:whitesmoke;
}

